*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
    padding-top: 16%;
}
header {
    height: auto;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 11;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
    
}
.header_menu_upper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.header_text-body {
    display: flex;
    gap: 30px;
    align-items: center;
}
.header__day {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.header__contacts {
    max-width: 174px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.46;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
}
.header__auth {
    max-width: 174px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.46;
    display: flex;
    gap: 7px;
    justify-content: center;
}
.header__auth a {
    color: #68b168;
}
.header__contacts a {
    color: #000;
}

.header a {
    text-decoration: none;
}
.header_buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.icon_butt {
    background-color: #a9fda9;
    border-radius: 20px;
    width: 70px;
    height: 70px;
}
.small_icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
img {
    max-width: 100%;

    object-fit: cover;
}
.button-large {
    cursor: pointer;
    border: none;
    background-color: #a9fda9;
    border-radius: 20px;
    max-width: 251px;
    padding: 25px 40px;
    letter-spacing: -.04em;
    line-height: 20px;
    color: #000;

}
.a-large {
    cursor: pointer;
    border: none;
    background-color: #a9fda9;
    border-radius: 20px;
    max-width: 251px;
    padding: 25px 40px;
    letter-spacing: -.04em;
    font-size: 24px;
    line-height: 20px;
    color: #000;
}
.nav_body {
    padding-top: 12px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.nav_item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}
.nav_link {
    color: #000;
}
/* КОНЕЦ HEADER */

.appear {
    text-align: center;
}

.main-block {
    text-align: start;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 86px;
    background-color: #fff;
    margin-bottom: 40px;
}
.block_title {
    letter-spacing: -.04em;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    max-width: 646px;
}
.block_subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    max-width: 560px;
    padding-bottom: 24px;
    padding-top: 19px;
}
.block_ul {
    padding: 19px;
    border-radius: 20px;
    background: #efe;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 610px;
}
.block_li {
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    gap: 15px;
}
.block-image_body {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    max-width: 704px;
    display: flex;
}
.block-image__inner {
    padding: 0 20px 20px 0;
    border-radius: 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 244px;
    background-color: #fff;
}
.block-image__inner2 {
    padding: 0px 0px 20px 20.9px;
    border-radius: 0 0 0px 20px;
    position: absolute;
    top: 0;
    left: 442px;
    max-width: 244px;
    background-color: #fff;
}
.image_title {
    display: flex;
    background: #efe;
    border-radius: 20px;
    padding: 13px 15px;
    gap: 10px;
    align-items: center;
}
.block_li::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #a9fda9;
}



/* КОНЕЦ ПЕРВОГО БЛОКА */



.numbers {
    padding-bottom: 170px;
    padding-top: 170px;
}
.numbers_title {
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
}

.numbers_block-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    text-align: start;
}
.numbers_block-item {
    display: flex;
    flex-direction: row;
    background-color: #a9fda9;
    border-radius: 20px;
    gap: 30px;
    padding: 26px 15px 29px 34px;
}
.item-block_title {
    font-weight: 400;
    font-size: 40px;
}
.item-block_subtitle {
    font-size: 18px;
    line-height: 120%;
}
.item-block_icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #8df08d;
    border-radius: 20px;
}
.item-block_text {
    max-width: 323px;
}

/* Конец второго блока "доверие" */


.page-product {
    padding-bottom: 170px;
}
.page-product_title {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    background: url(img/pole.png) right no-repeat;
}
.page-product_subtitle {
    padding-top: 30px;
    font-size: 24px;
    line-height: 130.5%;
    text-align: center;
}
.page-product_grid-blocks {
    padding-top: 75px;
}
.page-product_grid-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}
.block-product {
    text-align: start;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.block-product_main {
    width: 100%;
    display: flex;
}
.product_text {
    position: absolute;
    bottom: 0;
  padding: 0 20px;
  background: #b9fdb9;
  height: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  }
.product_img:hover ~ .product_text,
.product_text:hover {
    padding: 60px 20px 80px;
    height: 100%;
    visibility: visible;
}
.inner-2 {
    max-width: 260px;
    width: 100%;
    height: 70px;
}
.block-image__inner {
    padding: 0 20px 20px 0;
    border-radius: 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 244px;
    background-color: #fff;
}
.product_title {
    height: 50px;
    border-radius: 20px;
    background-color: #d6ffd6;
    display: flex;
    font-size: 24px;
    line-height: 113%;
    padding: 10px 24px;
    min-width: 240px;
    position: absolute;
    z-index: 5;
}
.page-product .product_img img {
    width: 100%;
    height: 100%;
}

/* конец блока что мы производим */


.page-stage_title {
    display: inline-block;
    justify-content: center;
    max-width: 390px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.back-g {
    background: url(img/pole.png) 0 0 / contain no-repeat;
}
.page-stage_subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 567px;
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 80px;
}
.page-stage_subtitle2 {
    text-align: center;
    margin: 0 auto;
    max-width: 567px;
    font-size: 24px;
    line-height: 1.3;
}
.page-stage_grid-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding-bottom: 170px;
}
.stage-block {
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #efe;
    padding: 34px 20px 34px 34px;
    gap: 20px;
}
.stage-block_title {
    display: flex;
    gap: 30px;
}
.stage-block .title-number {
    padding: 8px 0 11px;
    background-color: #a9fda9;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
}
.stage-block .title-text {
    font-size: 24px;
    line-height: 1.3;
    display: flex;
    align-items: center;
}
.stage-line {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Конец третьего блока */

.page-factory_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
}
.page-factory_part-text {
    text-align: start;
    max-width: 880px;
}
.page-factory_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
    background: url(img/pole.png) no-repeat;
}
.page-factory_subtitle {
    text-align: start;
    max-width: 635px;
    margin-bottom: 40px;
}
.page-factory_quote {
    border-radius: 20px;
    background-color: #efe;
    padding: 20px 24px;
    max-width: 610px;
    margin-bottom: 46px;
}
.page-factory__info p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0 0 20px;
}
.page-factory_part-video {
    max-width: 540px;
    height: 710px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.page-factory_part-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-factory_part-inner {
    position: absolute;
    padding: 0 0 16px 16px;
    background-color: var(--light-color);
    top: 0;
    right: 0;
    z-index: 2;
    border-bottom-left-radius: 20px;
}
.factory-video_title-body {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #efe;
    border-radius: 20px;
    padding: 14px 20px;
}
.factory-title_text {
    max-width: 150px;
    text-align: start;
}
.factory-title_icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: #a9fda9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.factory-button__video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* конец блока о нас */
.page-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding-bottom: 170px;
}
.partners-title {
    background: url(img/pole.png) bottom center no-repeat;
    font-size: 40px;
    line-height: 50px;
    max-width: 500px;
    text-align: center;
}
.partners-logo_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.partners-logo_body img {
    justify-self: center;
}


/* Конец четвертого блока партнеры */

.page-contact_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 90px;
    background: url(img/pole.png) top no-repeat;
}
.page-contact_body {
    text-align: start;
    display: flex;
    gap: 88px;
    padding-bottom: 170px;
}
.page-contact_text {
    max-width: 558px;
    display: flex;
    flex-direction: column;
}
.page-contact_text .factory_name {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 26px;
}
.page-contact_text .factory_address {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 41px;
}
.contacts {
    font-size: 24px;
    line-height: 130.5%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 80px;
}
.contacts__link {
    display: flex;
    align-items: center;
    gap: 20px;
}
.page-contact_text .address-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 9px 11px;
    background-color: #a9fda9;
    border-radius: 10px;
}
.contact-button {
    cursor: pointer;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -.04em;
    margin-bottom: 80px;
    padding: 25px 40px;
    max-width: 255px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: #a9fda9;
}
.contact_day {
    font-size: 24px;
    line-height: 130.5%;
    margin-bottom: 30px;
}
.title_media {
    max-width: 275px;
    font-size: 24px;
    line-height: 130.5%;
    margin-bottom: 20px;
}
.icon-media_body {
    display: flex;
    gap: 20px;
}

/* конец блока пятого блока */


.page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 180px;
    gap: 30px;
    z-index: 2;
}
.page-form_title {
    background: url(img/pole.png) center top no-repeat;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    max-width: 800px;
}
.page-form_body {
    position: relative;
    padding: 51px 365px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background-color: #efe;
}
.page-form_body2 {
    position: relative;
    padding: 51px 365px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    padding-bottom: 100px;
}

.form_input {
    cursor: text;
    width: 459px;
    height: 60px;
    background: #fff;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}
.form_button {
    cursor: pointer;
    padding: 25px 143px;
    background-color: #a9fda9;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -.04em;
}
.check-container {
    display: block;
    max-width: 460px;
    position: relative;
    font-size: 16px;
    user-select: none;
}
.form-link {
    text-decoration: underline;
    color: #212121;
}

/* конец блока заявок */





/* Политика конфиденциальности */


.unic-prod_title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 80px;
}
.unic-prod_grid-body {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: start;
}
.unic-prod-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    border-radius: 20px;
    background-color: #d6ffd6;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.unic-prod-block_title {
    padding: 18px 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
}
.unic-prod-block .title-number {
    width: 36px;
    height: 24px;
    background-color: #a9fda9;
    border-radius: 20px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.unic-prod-block .title-text {
    font-size: 24px;
    line-height: 1.3;
}
.unic-prod-block__image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.unic-prod-block__image img {
    width: 100%;
    max-height: 240px;
}
.unic-img {
    border-radius: 22px;
}
.unic-prod-block__desc {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    z-index: 2;
    padding: 24px;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* конец политики конф */



/* футер */
footer {
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.footer_body {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 50px;
}
.footer_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a {
    color: #000;
}